



  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Our Products</h1>
        <p class="lead text-muted">Currently available products</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">


<% @products.each do |product| %>


  <div class="col">
          <div class="card shadow-sm">
            <%= image_tag product.image_url %>

            <div class="card-body">
              <p class="card-text"><%= @products.last.name %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">

                  <button type="button" class="btn btn-sm btn-outline-secondary">View Details</button>
                </div>
                <small class="text-muted"> $<%= @products.last.price %></small>
              </div>
            </div>
          </div>
        </div>



<% end %>









        </div>
      </div>
    </div>
  </div>




<h1>Products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Description</th>
      <th>Image url</th>
      <th>Price</th>
      <th>Headline</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.kind %></td>
        <td><%= product.description %></td>
        <td><%= image_tag product.image_url, :class => 'table-product-image' %></td>
        <td><%= product.price %></td>
        <td><%= product.headline %></td>
        <td><%= link_to 'Show', product %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

